/* Keeps footer at the bottom */
html {
    height: 100%;
}
/* Style */
body {
    font-family: sans-serif;
    background-color: #252422;
    color: #FFFCF2;
    margin: 0;
    padding-top: 200px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/* remove links underline */
a {
    text-decoration: none;
    color: #EB5E28;
}
header {
    background-color: #252422;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
 }
 header h1 {
     font-size: 90px;
     color: #FFFCF2;
     margin: 15px;
     background-position:center;
     background-repeat:space;
 }
 header nav {
     text-align: center;
     font-size: 30px;
     background-color: #403D39;
     padding: 10px;
 }
 main {
    padding-left: 22em;
    padding-right: 22em;
}
main h2 {
    font-size: 50px;
    color: #CCC5B9;
}
main h3 {
    font-size: 35px;
    color: #CCC5B9;
}
main h4 {
    font-size: 25px;
}
main li {
    font-size: 25px;
}
main p {
    font-size: 22px;
}
main b {
    font-size: 25px;   
}
main ul {
    padding-left: 10em;
}

#lists {
    padding-top: 5em;
}
.topic {
    padding-left: 5em;
}
#logo {
    color: #EB5E28;
    font-size: 50px;
}
#guide {
    padding-right: 2em;
}
#contact-us {
    padding-left: 2em
}
.proscons {
    padding-left: 5em
}
#colorshift {
    color: #EB5E28;
}
footer {
    margin-top: auto;
}
#social {
    background-color: #403D39;
    display: flex;
    align-items: center;
    list-style-type: none;
    left: 0;
    right: 0;
    box-sizing: border-box;
    justify-content: center;
    font-size: 50px;
    padding: 10px;
}
.fa-facebook {
    padding-right: 3em;
}
.fa-square-twitter {
    padding-left: 3em;
}